Repository PentestSS13/Pentest, pull requests merged in 2024-12, with the labels that each got.

#81 Renames Terragov's Gun Manufacturer
  code/__DEFINES/guns.dm
Labels: Code Change

#96 Nerfs umbrellas
  modular_pentest/modules/umbrella/code/umbrellas.dm
  modular_pentest/modules/umbrella/readme.md
Labels: Code Change, Bug Fix, Balance

#97 Updates the spamton mask
  code/modules/clothing/masks/miscellaneous.dm
  strings/spamton_replacement.json
Labels: Code Change, Balance

#84 More Graffiti Here
  code/game/objects/items/crayons.dm
  icons/effects/crayondecal.dmi
Labels: Code Change, Sprites, Bug Fix

#82 Corrected Sol Gov <-> Terra Gov Icon States
  _maps/shuttles/independent/independent_basilisk.dmm
  _maps/shuttles/independent/independent_wyvern.dmm
  code/game/objects/structures/crates_lockers/closets/wallmount.dm
  icons/obj/wallcloset.dmi
Labels: Code Change, Map Change, Sprites, Bug Fix

#92 Fixes fast food ruin's shotgun
  modular_pentest/_maps/ruins_space/Fast_Food.dmm
Labels: Map Change, Bug Fix

#99 Revolver Fix
  _maps/shuttles/syndicate/syndicate_twinkleshine.dmm
  modular_pentest/_maps/ruins_wasteplanet/wasteplanet_tarcity.dmm
Labels: Map Change

#102 Disables the Apis, pending rework
  _maps/configs/horizon_apis.json
Labels: Map Change
