Repository PentestSS13/Pentest, pull requests merged in 2024-10, with the labels that each got.

#8 MALP and Sierra Small Fixes
  _maps/shuttles/subshuttles/nanotrasen_malp.dmm
  _maps/shuttles/subshuttles/nanotrasen_sierra.dmm
Labels: Map Change

#14 Fixes respawning chat text, and allows players to play as a character with the same name.
  code/modules/mob/dead/new_player/new_player.dm
  code/modules/mob/mob.dm
Labels: Code Change

#13 Updates V's outpost
  modular_pentest/ruins/ruins.dm
  modular_pentest/ruins/v_outpost.dmm
Labels: Code Change, Map Change

#36 Swat Suits Resprite
  code/modules/clothing/spacesuits/hardsuit.dm
  icons/mob/clothing/head/spacesuits.dmi
  icons/mob/clothing/suits/spacesuits.dmi
  icons/mob/species/misc/digitigrade_suits.dmi
  icons/obj/clothing/head/spacesuits.dmi
  icons/obj/clothing/suits/spacesuits.dmi
Labels: Code Change, Sprites

#44 Biogenerator Update
  code/modules/research/designs/biogenerator_designs.dm
Labels: Code Change

#42 Wideband Radios in Cargo
  code/modules/cargo/packs/machinery.dm
Labels: Code Change

#35 Removes security and medical records from pAI, renames crew manifest
  code/modules/mob/living/silicon/pai/software.dm
Labels: Code Change

#27 DO-IT-YOURSELF - Old Classic Back in Action
  _maps/configs/independent_diy.json
  _maps/shuttles/independent/independent_diy.dmm
Labels: Map Change
