Repository PentestSS13/Pentest, pull requests merged in 2025-01, with the labels that each got.

#107 Disables V_Outpost
  modular_pentest/_maps/ruins_space/_modular_space.dm
Labels: Code Change

#111 Adds shotshells
  modular_pentest/master_files/code/modules/research/techweb/all_nodes.dm
  modular_pentest/modules/shotshells/code/converter.dm
  modular_pentest/modules/shotshells/code/shotshells.dm
  modular_pentest/modules/shotshells/readme.md
  modular_pentest/modules/shotshells/sprites/convert.dmi
  modular_pentest/modules/shotshells/sprites/drinks.dmi
  shiptest.dme
Labels: Code Change, DME Edit, Sprites

#30 Adds protein powder.
  modular_pentest/modules/protein_powder/code/protein_powder.dm
  modular_pentest/modules/protein_powder/icons/containers.dmi
  modular_pentest/modules/protein_powder/readme.md
  shiptest.dme
Labels: Code Change, DME Edit, Sprites

#89 Salvages the Junker-class - GREYTIDE WORLDWIDE
  _maps/configs/independent_junker.json
  _maps/shuttles/_images/Junker-class Salvaged Ship.png
  _maps/shuttles/independent/independent_junker.dmm
Labels: Map Change
