Repository PentestSS13/Pentest, pull requests merged in 2025-02, with the labels that each got.

#90 Title screens can now be wide! Also, a new default title screen!
  _maps/map_files/generic/CentCom.dmm
  code/game/turfs/closed/_closed.dm
  icons/blank_title.png
  icons/runtime/default_title.dmi
Labels: Code Change, Map Change, Sprites

#109 Boyardee-Class Ship Returns to the Frontier
  _maps/configs/independent_boyardee.json
  _maps/shuttles/_images/Boyardee-class Entertainment Vessel.png
  _maps/shuttles/independent/independent_boyardee.dmm
Labels: Map Change, Test Merge Required

#120 Beach Town Tree Fix
  _maps/RandomRuins/BeachRuins/beach_ocean_town.dmm
Labels: Map Change

#143 Tar City Gun Fix.
  modular_pentest/_maps/ruins_wasteplanet/wasteplanet_tarcity.dmm
Labels: Map Change

#141 Simple Mob Revival Icon States
  modular_pentest/modules/simplemobs/code/revive_fix.dm
  shiptest.dme
Labels: Code Change, DME Edit

#104 Cheyenne - Updates v1.3
  _maps/configs/nanotrasen_cheyenne.json
  _maps/shuttles/nanotrasen/nanotrasen_cheyenne.dmm
  modular_pentest/modules/faction_nanotrasen/code/pentest_nanotrasen_items.dm
  modular_pentest/modules/faction_nanotrasen/code/pentest_nanotrasen_outfits.dm
  modular_pentest/modules/faction_nanotrasen/icons/mob/clothing/uniforms.dmi
  modular_pentest/modules/faction_nanotrasen/icons/obj/clothing/uniforms.dmi
  shiptest.dme
Labels: Code Change, Map Change, DME Edit, Sprites, Ship

#161 Corrects a old error in Installing Cyborg Self Repair
  modular_pentest/modules/robots/code/_robot_upgrades.dm
Labels: Code Change
